
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<form method="post">
    Nome: <input type="text" name="nome" class="form-control"/>
    <input type="submit" value="Pesquisar" class="btn btn-default"/>
</form>